
   .style-me{
       background-color: seagreen;
   }

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .versus {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
  }

  .Team{
      color: rgb(40, 12, 141);
      text-size-adjust: 5rem;
  }
  .Game  logo{
    height: 5px;
    width: 5px;
  }